<template>
<div class="gallery-slider">
  <q-carousel
    v-model="slide"
    swipeable
    animated
    infinite
    autoplay
    keep-alive
    thumbnails
    class="gallery-slide-image shadow-my"
  >
    <q-carousel-slide
      v-for="(slide, index) in slides"
      :key="slide.id"
      :name="index"
      class="gallery-slide-image text-white"
      :img-src="slide.image"
    >
    </q-carousel-slide>
  </q-carousel>

</div>
</template>

<script>
export default {
  name: 'gallery-slider',
  props: {
    slides: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      slide: 0
    }
  }
}
</script>

<style lang="sass">
.gallery-slide-image
  height: 600px
  border-radius: 10px

@media screen and (max-width: 700px)
  .gallery-slide-image
    height: 300px
</style>
