<template>
<div class="home-slider">
  <q-carousel
    v-model="slide"
    swipeable arrows  animated infinite keep-alive autoplay
    class="home-slide-image"
  >
    <q-carousel-slide
      v-for="(slide, index) in slides"
      :key="slide.id"
      :name="index"
      class="home-slide-image text-white"
    >
      <q-img
        :src="slide.image" class="home-slide-image flex flex-center"
      >
        <div class="slide-image-text">
          <h1 class="home-slide-title">{{ slide.title }}</h1>
          <h2 class="home-slide-sub-title q-mt-md">{{ slide.sub_title }}</h2>
        </div>

      </q-img>
    </q-carousel-slide>
  </q-carousel>
</div>
</template>

<script>
import server from 'src/config'

export default {
  name: 'home-slider',
  data () {
    return {
      slide: 0,
      slides: []
    }
  },
  methods: {
    async loadSlides () {
      const vm = this
      try {
        await vm.$axios(`${server.serverURI}/main/slides`)
          .then((res) => {
            vm.slides = res.data.results
          })
      } catch (e) {

      }
    }
  },
  created () {
    this.loadSlides()
  }
}
</script>

<style lang="sass">
.home-slide-image
  height: 100vh

.home-slide-sub-title
  font-size: 24px
  font-weight: 600

@media screen and (max-width: 800px)
  .home-slide-image
    height: 40vh

  .home-slide-title
   font-size: 24px

  .home-slide-sub-title
    font-size: 18px
</style>
