<template>
<q-page>
<page-header :title="about.title" :image="about.image"/>

  <div class="container">
    <div class="q-mt-md">
      <h2 class="text-subtitle1 page-description text-bold">{{ about.text }}</h2>

      <div class="section q-px-sm" v-html="about.content"></div>
    </div>

    <gallery-slider class="section" v-if="images.length" :slides="images"/>

  </div>

  <site-footer />
</q-page>
</template>

<script>
import errorHandler from 'src/utils/error-handler'
import server from 'src/config'
import PageHeader from 'components/utils/page-header'
import GallerySlider from 'components/sliders/gallery-slider'
import SiteFooter from 'components/footer/site-footer'
import { mapState } from 'vuex'

export default {
  name: 'About',
  components: { SiteFooter, GallerySlider, PageHeader },
  data () {
    return {
      about: {},
      images: []
    }
  },
  computed: {
    ...mapState('mainStore', ['settings'])
  },
  methods: {
    async loadAboutInfo () {
      const vm = this
      try {
        vm.about = await vm.$axios(`${server.serverURI}/main/about/`)
          .then(res => res.data.results[0])
      } catch (e) {
        errorHandler(e)
      }
    },

    async loadImages () {
      const vm = this
      try {
        vm.images = await vm.$axios(`${server.serverURI}/main/gallery/`)
          .then(res => res.data.results)
      } catch (e) {
        errorHandler(e)
      }
    }
  },
  created () {
    this.loadAboutInfo()
    this.loadImages()
  },

  meta () {
    return {
      title: this.settings.title + ' | ' + this.about.title,
      meta: {
        description: {
          name: 'description',
          content: this.about.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.about.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.about.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
