<template>
<q-page>
  <div class="container">
    <div class="section">
      <h1 class="text-h6 text-bold">{{ contacts.title }}</h1>

      <div class="q-mt-xl">
        <div v-html="contacts.contacts_text"></div>
      </div>
      <div class="q-mt-md">
        <p class="text-bold">Email: <a :href="`mailto:${contacts.email}`" target="_blank">{{ contacts.email }}</a></p>
        <p class="text-bold">Телефон: <a :href="`tel:${contacts.phone}`" target="_blank">{{ contacts.phone }}</a></p>
        <p class="text-bold">Whatsapp: <a :href="`https://wa.me/${contacts.whatsapp}`" target="_blank">{{ contacts.whatsapp }}</a></p>
      </div>

      <div class="q-mt-md">
        <p class="text-h6 text-bold">Мы в социальных сетях:</p>
        <social-links class="q-mt-md"/>
      </div>

    </div>

    <site-footer />

  </div>
</q-page>
</template>

<script>
import { mapState } from 'vuex'
import SocialLinks from 'components/header/social-links'
import SiteFooter from 'components/footer/site-footer'

export default {
  name: 'Contacts',
  components: { SiteFooter, SocialLinks },
  computed: {
    ...mapState('mainStore', ['contacts', 'settings'])
  },

  meta () {
    return {
      title: this.settings.title + ' | ' + this.contacts.title,
      meta: {
        description: {
          name: 'description',
          content: this.settings.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.contacts.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.settings.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
