<template>
  <q-page class="">
    <home-slider />
    <site-footer />
  </q-page>
</template>

<script>
import HomeSlider from 'components/sliders/home-slider'
import SiteFooter from 'components/footer/site-footer'
import { mapState } from 'vuex'
export default {
  name: 'PageIndex',
  components: { SiteFooter, HomeSlider },
  computed: {
    ...mapState('mainStore', ['settings'])
  },
  meta () {
    return {
      title: this.settings.title,
      meta: {
        description: {
          name: 'description',
          content: this.settings.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.settings.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.settings.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }
}
</script>
