<template>
<q-page>
  <page-header :image="mission.image" :title="mission.title"/>
  <div class="container">
    <div class="q-mt-md q-pa-md">
      <h2 class="text-subtitle1 page-description text-bold">{{ mission.text }}</h2>

      <div class="section q-px-sm" v-html="mission.content"></div>
    </div>

  </div>

  <site-footer />
</q-page>
</template>

<script>
import server from 'src/config'
import errorHandler from 'src/utils/error-handler'
import { mapState } from 'vuex'
import PageHeader from 'components/utils/page-header'
import SiteFooter from 'components/footer/site-footer'

export default {
  name: 'OurMission',
  components: { SiteFooter, PageHeader },
  data () {
    return {
      mission: {}
    }
  },
  computed: {
    ...mapState('mainStore', ['settings'])
  },
  methods: {
    async loadMission () {
      const vm = this
      try {
        vm.mission = await vm.$axios(`${server.serverURI}/main/mission/`)
          .then(res => res.data.results[0])
      } catch (e) {
        errorHandler(e)
      }
    }
  },
  created () {
    this.loadMission()
  },

  meta () {
    return {
      title: this.settings.title + ' | ' + this.mission.title,
      meta: {
        description: {
          name: 'description',
          content: this.mission.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.mission.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.mission.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
