<template>
  <q-page>
    <page-header :title="service.title" :image="service.image"/>

    <div class="container">
      <div class="q-mt-md q-pa-md">
        <h2 class="text-subtitle1 page-description text-bold">{{ service.description }}</h2>

        <div class="section q-px-sm" v-html="service.content"></div>
        <div v-if="service.sub_services.length">
          <p class="text-bold section">Выберите услугу:</p>
          <div
            v-for="subService in service.sub_services"
            :key="subService.id"
          >

            <q-radio
              size="xs" keep-color color="primary"
              v-model="selectedSubService"
              :val="`${subService.title} - ${subService.price}`"
              :label="`${subService.title} - ${subService.price} руб.` "
              class="text-bold shadow-my q-pa-md full-width rounded-borders q-mt-md"
              @input="setSelectedService(subService)"
            />
          </div>

          <q-btn
            label="Заказать"
            class="q-px-xl q-mt-lg q-py-sm"
            :disable="!selectedSubService"
            color="primary"
            @click="createDialog = true"
          />
        </div>

      </div>
    </div>

    <q-dialog v-model="createDialog">
      <q-card style="width: 700px; max-width: 100%">
        <q-toolbar class="bg-primary text-white">
          <q-toolbar-title>Заявка на услугу</q-toolbar-title>
          <q-btn icon="close" flat dense v-close-popup/>
        </q-toolbar>

        <q-card-section class="q-mt-md q-px-lg">
          <q-input v-model="orderForm.name" label="Ваше имя (обязательно)" outlined />
          <q-input v-model="orderForm.email" label="Ваше email (обязательно)" outlined class="q-mt-md"/>
          <q-input v-model="orderForm.phone" label="Ваше номер телефона (обязательно)" outlined type="phone" class="q-mt-md"/>
          <q-input v-model="orderForm.message" label="Сообщение" outlined type="textarea" class="q-mt-md"/>

          <p class="text-negative q-mt-sm" v-if="!orderButtonDisabled">Заполните все обязательные поля*</p>
        </q-card-section>

        <q-card-section class="q-px-lg">
          <q-btn
            label="Заказать"
            class="q-py-sm full-width"
            color="primary"
            :disable="!orderButtonDisabled"
            @click="createOrder"
          />
        </q-card-section>
      </q-card>
    </q-dialog>

    <site-footer/>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import PageHeader from 'components/utils/page-header'
import SiteFooter from 'components/footer/site-footer'
import server from 'src/config'

export default {
  name: 'Service',
  components: { SiteFooter, PageHeader },
  computed: {
    ...mapState('mainStore', ['service', 'settings']),
    options () {
      return this.service.sub_services.map(item => `${item.title} - ${item.price}`)
    },
    orderButtonDisabled () {
      return this.orderForm.name && this.orderForm.email && this.orderForm.phone
    }
  },
  data () {
    return {
      selectedSubService: '',
      selectedSubServiceId: null,
      createDialog: false,
      orderForm: {
        name: '',
        email: '',
        phone: '',
        message: ''
      }
    }
  },
  methods: {
    async createOrder () {
      const order = this.orderForm
      const vm = this
      order.service = this.service.id
      order.sub_service = this.selectedSubServiceId

      try {
        await this.$axios.post(`${server.serverURI}/service/create_order/`, {
          ...order
        }).then(res => {
          vm.$q.notify({
            message: 'Спасибо! Ваша заявка принята, мы свяжемся с Вами в ближайшее время.',
            position: 'top',
            color: 'positive'
          })
          vm.createDialog = false
        })
      } catch (e) {
        vm.$q.notify({
          message: e.message,
          position: 'top'
        })
      }
    },
    setSelectedService (service) {
      this.selectedSubServiceId = service.id
      this.selectedSubService = `${service.title} - ${service.price}`
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('mainStore/LoadServiceDetail', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.settings.title + ' | ' + this.service.title,
      meta: {
        description: {
          name: 'description',
          content: this.service.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.service.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.service.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
