<template>
  <q-page>
    <page-header :title="university.title" :image="university.image" />
    <div class="container">
      <div class="q-mt-md q-pa-md">
        <h2 class="text-subtitle1 page-description text-bold">{{ university.description }}</h2>

        <div class="university-chapters section">
          <q-item
            v-for="chapter in university.chapters"
            :key="chapter.id"
            clickable
            class="rounded-borders text-primary shadow-my items-center text-bold q-mt-md"
            :to="{name: 'chapter', params: { slug: chapter.slug }}"
          >
            <q-icon name="las la-angle-right q-pr-md"/> {{ chapter.title }}

          </q-item>
        </div>

        <div class="section q-px-sm" v-html="university.content"></div>
      </div>

    </div>

    <site-footer />
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import PageHeader from 'components/utils/page-header'
import SiteFooter from 'components/footer/site-footer'

export default {
  name: 'University',
  components: { SiteFooter, PageHeader },
  computed: {
    ...mapState('mainStore', ['university', 'settings'])
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('mainStore/LoadUniversity', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.settings.title + ' | ' + this.university.title,
      meta: {
        description: {
          name: 'description',
          content: this.university.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.university.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.university.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }

}
</script>

<style lang="sass">
.chapter-item
  border: 1px solid $primary
</style>
