<template>
<q-page>
  <page-header :title="chapter.title" :image="chapter.image"/>

  <div class="container">
    <div class="q-mt-md q-pa-md">
      <h2 class="text-subtitle1 text-bold page-description">{{ chapter.description }}</h2>

      <div class="university-videos section">
        <div
          v-for="video in chapter.videos"
          :key="video.id"
        >
          <video-item :video="video"/>
        </div>

      </div>
      <div class="section" id="chapter-content" v-html="chapter.content"></div>
    </div>

    <div v-if="chapter.images.length" class="chapter-slides section">
      <gallery-slider :slides="chapter.images"/>
    </div>

  </div>

  <site-footer />
</q-page>
</template>

<script>
import { mapState } from 'vuex'
import PageHeader from 'components/utils/page-header'
import SiteFooter from 'components/footer/site-footer'
import GallerySlider from 'components/sliders/gallery-slider'
import VideoItem from 'components/utils/video-item'

export default {
  name: 'UniversityCapter',
  components: { VideoItem, GallerySlider, SiteFooter, PageHeader },
  computed: {
    ...mapState('mainStore', ['chapter', 'settings'])
  },

  preFetch ({ store, currentRoute }) {
    return store.dispatch('mainStore/LoadUniversityChapter', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.settings.title + ' | ' + this.chapter.title,
      meta: {
        description: {
          name: 'description',
          content: this.chapter.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.chapter.title
        },
        ogDescription: {
          property: 'og:description',
          content: this.chapter.description
        },
        ogImage: {
          property: 'og:image',
          content: this.settings.logo
        }
      }
    }
  }
}
</script>

<style lang="sass">

</style>
