<template>
  <div class="site-footer section">
    <div class="container">
      <h3 class="text-h6 text-center text-bold">{{ settings.title }}</h3>
      <p class="text-center text-subtitle1 q-mt-sm">{{ settings.text }}</p>
    </div>

    <!--    Университеты-->
    <div class="section">
      <div class="container">
        <p class="q-mt-lg text-h6 text-bold">Университеты</p>
      </div>

      <div class="container">
        <div class="footer-grid q-mt-md">
          <q-item
            v-for="univer in universities"
            :key="univer.id"
            :to="{name: 'university', params: { slug: univer.slug }}"
            class="rounded-borders q-pa-md shadow-my" clickable
          >
            <q-card
              class="shadow-0 flex bg-transparent"
            >
              <q-card-section class="q-pa-none flex items-center no-wrap">
                <q-img
                  :src="univer.image"
                  class="footer-univer-image rounded-borders"
                />
                <p class="q-ml-md text-bold">{{ univer.title }}</p>
              </q-card-section>

            </q-card>
          </q-item>

        </div>
      </div>
    </div>

    <!--    Услуги-->
    <div class="section">
      <div class="container">
        <p class="q-mt-lg text-h6 text-bold">Услуги</p>
      </div>
      <div class="container">
        <div class="footer-grid q-mt-md">
          <q-item
            v-for="service in services"
            :key="service.id"
            :to="{name: 'service', params: { slug: service.slug }}"
            class="rounded-borders q-pa-md shadow-my" clickable
          >
            <q-card
              class="shadow-0 flex bg-transparent"
            >
              <q-card-section class="q-pa-none flex items-center no-wrap">
                <q-img
                  :src="service.image"
                  class="footer-univer-image rounded-borders"
                />
                <p class="q-ml-md text-bold">{{ service.title }}</p>
              </q-card-section>

            </q-card>
          </q-item>

        </div>
      </div>

    </div>

    <div class="section bg-primary q-pa-md q-pt-lg" style="border-radius: 10px">
      <div class="footer-grid container">
        <q-item clickable to="/" class="rounded-borders text-white flex-center" style="height: 30px">
          Главная
        </q-item>

        <q-item clickable :to="{ name: 'about' }" class="rounded-borders text-white flex-center" style="height: 30px">
          О нас
        </q-item>

        <q-item clickable :to="{ name: 'mission' }" class="rounded-borders text-white flex-center"
                style="height: 30px">
          Наша миссия
        </q-item>

        <q-item clickable :to="{ name: 'contacts' }" class="rounded-borders text-white flex-center"
                style="height: 30px">
          Контакты
        </q-item>
      </div>

      <social-links color="white" class="text-center q-mt-xl"/>
      <div class="container q-py-md">

      </div>
      <small class="text-center block text-grey-3">{{ settings.title }} {{ getYear }}. Все права защищены.</small>
    </div>

  </div>
</template>

<script>
import { mapState } from 'vuex'
import SocialLinks from 'components/header/social-links'

export default {
  name: 'site-footer',
  components: { SocialLinks },
  computed: {
    ...mapState('mainStore', ['settings', 'universities', 'services']),
    getYear () {
      const date = new Date()
      return date.getFullYear()
    }
  }
}
</script>

<style lang="sass">
.site-footer
  padding: 30px 10px 10px

.footer-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 15px

.footer-univer-image
  height: 90px
  width: 160px
  min-width: 160px

@media screen and (max-width: 700px)
  .footer-grid
    grid-template-columns: 1fr
</style>
