<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-white text-dark" style="position: fixed; top: 0">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />
        <router-link to="/" :class="$mobile ? 'text-left' : ''">
            <img :src="settings.logo" id="logo" :title="settings.title" alt="logo" >
        </router-link>

        <top-nav-menu v-if="!$mobile" style="flex-grow: 1" class="text-center"/>
        <social-links v-if="!$mobile"/>
        <q-space v-if="$mobile"/>

        <consultation />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="left" side="left" behavior="mobile" elevated>
      <drawer-content />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { mapState } from 'vuex'
import TopNavMenu from 'components/header/top-nav-menu'
import SocialLinks from 'components/header/social-links'
import DrawerContent from 'components/header/drawer-content'
import Consultation from 'components/utils/consultation'
export default {
  components: { Consultation, DrawerContent, SocialLinks, TopNavMenu },
  computed: {
    ...mapState('mainStore', ['settings'])
  },
  data () {
    return {
      left: false
    }
  },
  preFetch ({ store }) {
    return store.dispatch('mainStore/init')
  }
}
</script>

<style lang="sass">
#logo
  height: 100px

@media screen and (max-width: 700px)
  #logo
    height: 70px
</style>
