<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import server from 'src/config'
export default {
  name: 'App',
  mounted () {
    setTimeout(() => {
      const images = [].slice.call(document.getElementsByTagName('img'))
      images.forEach(item => {
        if (item.attributes.src.value[0] === '/') item.attributes.src.value = server.serverURI + item.attributes.src.value
      })
    }, 2000)
  },
  watch: {

  }
}
</script>
