<template>
  <div class="drawer-content">
    <q-img
      :src="settings.logo"
    />

    <social-links  class="text-center q-mt-md"/>

    <q-list separator class=" text-bold q-mt-lg text-dark">
      <q-item to="/" clickable class="text-subtitle1">
        <q-item-section avatar>
          <q-icon name="las la-home"/>
        </q-item-section>
        <q-item-section>Главная</q-item-section>
      </q-item>

      <!--      Университеты-->
      <q-expansion-item label="Университеты" group="menu" icon="las la-school" class="text-subtitle1">
        <q-list class="q-ml-md" separator>
          <q-expansion-item
            v-for="univer in universities"
            :key="univer.id"
            :label="univer.title"
            group="subMenu"
          >
            <q-list separator>
              <q-item
                clickable
                class="items-center q-ml-sm"
                :to="{name: 'university', params: { slug: univer.slug }}"
              >
                Подробнее
              </q-item>
              <q-item
                v-for="chapter in univer.chapters"
                :key="chapter.id"
                class="items-center q-ml-sm"
                :to="{name: 'chapter', params: { slug: chapter.slug }}"
              >
                {{ chapter.title }}
                <q-icon class="q-pl-sm"/>
              </q-item>
            </q-list>

          </q-expansion-item>

        </q-list>
      </q-expansion-item>
      <!--      Услуги-->
      <q-expansion-item group="menu"  label="Услуги" icon="las la-handshake" class="text-subtitle1">
        <q-list separator>
          <q-item
            v-for="service in services"
            :key="service.id"
            clickable
            class="items-center q-ml-sm"
            :to="{name: 'service', params: { slug: service.slug }}"
          >
            {{ service.title }}
          </q-item>
        </q-list>

      </q-expansion-item>

      <!--      Компания-->
      <q-expansion-item group="menu" label="Компания" icon="las la-graduation-cap" class="text-subtitle1">
        <q-list separator>
          <q-item
            clickable
            class="items-center q-ml-sm"
            :to="{ name: 'about' }"
          >
            О нас
          </q-item>
          <q-item
            clickable
            class="items-center q-ml-sm"
            :to="{ name: 'mission' }"
          >
            Наша миссия
          </q-item>
        </q-list>

      </q-expansion-item>

<!--      Контакты-->
      <q-item :to="{ name: 'contacts' }" clickable class="text-subtitle1">
      <q-item-section avatar>
        <q-icon name="las la-map-marked-alt"/>
      </q-item-section>
      <q-item-section>Контакты</q-item-section>
      </q-item>
    </q-list>

    <div class="q-mt-lg q-px-md">
      <q-btn
        :label="contacts.phone"
        icon="las la-phone"
        class="full-width shadow-my"
        type="a"
        color="primary"
        outline
        target="_blank"
        :href="`tel:${contacts.phone}`"
      />

      <q-btn
        :label="contacts.whatsapp"
        icon="lab la-whatsapp"
        class="full-width shadow-my q-mt-md"
        type="a"
        color="primary"
        outline
        target="_blank"
        :href="`https://wa.me/${contacts.whatsapp}`"
      />

      <q-btn
        :label="contacts.email"
        icon="las la-at"
        class="full-width shadow-my q-mt-md"
        type="a"
        color="primary"
        outline
        target="_blank"
        :href="`mailto:${contacts.email}`"
      />
    </div>

  </div>

</template>

<script>
import { mapState } from 'vuex'
import SocialLinks from 'components/header/social-links'

export default {
  name: 'drawer-content',
  components: { SocialLinks },
  computed: {
    ...mapState('mainStore', ['settings', 'universities', 'services', 'contacts'])
  }
}
</script>

<style scoped>

</style>
