<template>
  <div class="social-links">
    <div>
      <q-btn
        type="a"
        :href="contacts.youtube"
        target="_blank"
        icon="lab la-youtube"
        round outline
        :color="color || 'primary'"
      />

      <q-btn
        type="a"
        :href="contacts.instagram"
        target="_blank"
        icon="lab la-instagram"
        round outline
        :color="color || 'primary'"
        class="q-ml-sm"
      />
      <q-btn
        type="a"
        :href="contacts.telegram"
        target="_blank"
        icon="lab la-telegram-plane"
        round outline
        :color="color || 'primary'"
        class="q-ml-sm"
      />

      <q-btn
        type="a"
        :href="contacts.vk"
        target="_blank"
        icon="lab la-vk"
        round outline
        :color="color || 'primary'"
        class="q-ml-sm"
      />

<!--      <q-btn-->
<!--        type="a"-->
<!--        :href="contacts.facebook"-->
<!--        target="_blank"-->
<!--        icon="lab la-facebook-f"-->
<!--        round outline-->
<!--        :color="color || 'primary'"-->
<!--        class="q-ml-sm"-->
<!--      />-->
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'social-links',
  props: {
    color: String
  },
  computed: {
    ...mapState('mainStore', ['contacts'])
  }
}
</script>

<style scoped>

</style>
