<template>
  <div class="top-nav-menu">
    <nav class="text-subtitle1 text-bold">
      <q-btn
        to="/"
        label="Главная"
        class="text-subtitle1 text-bold"
        dense flat no-caps
        icon="las la-home"
      />

<!--      Университеты-->
      <q-btn
        v-if="universities && universities.length"
        label="Университеты"
        class="text-subtitle1 text-bold q-ml-md"
        dense flat no-caps
        icon="las la-school"
      >

        <q-menu
          fit
          transition-show="jump-down"
          transition-hide="jump-up"
        >
          <q-list style="min-width: 100px; max-width: 100%" separator>
            <q-item
              v-for="univer in universities"
              :key="univer.id"
              clickable
              class="items-center"
            >
              {{ univer.title }} <q-icon name="las la-angle-right" class=""/>

              <q-menu
                fit
                transition-show="jump-right"
                transition-hide="jump-up"
                anchor="top right"
                self="top left"
              >
                <q-list style="min-width: 100px; max-width: 100%" separator>
                  <q-item
                    clickable
                    class="items-center"
                    :to="{name: 'university', params: { slug: univer.slug }}"
                  >
                    Подробнее
                  </q-item>
                  <q-item
                    v-for="chapter in univer.chapters"
                    :key="chapter.id"
                    clickable
                    class="items-center"
                    :to="{name: 'chapter', params: { slug: chapter.slug }}"
                  >
                    {{ chapter.title }}
                  </q-item>
                </q-list>
              </q-menu>
            </q-item>
          </q-list>
        </q-menu>

      </q-btn>

      <!--      Услуги-->
      <q-btn
        v-if="services && services.length"
        label="Услуги"
        class="text-subtitle1 text-bold q-ml-md"
        dense flat no-caps
        icon="las la-handshake"
      >

        <q-menu
          fit
          transition-show="jump-down"
          transition-hide="jump-up"
        >
          <q-list style="min-width: 100px; max-width: 100%" separator>
            <q-item
              v-for="service in services"
              :key="service.id"
              clickable
              class="items-center"
              :to="{name: 'service', params: { slug: service.slug }}"
            >
              {{ service.title }}
            </q-item>
          </q-list>
        </q-menu>

      </q-btn>

      <!--      Компания-->
      <q-btn
        label="Компания"
        class="text-subtitle1 text-bold q-ml-md"
        dense flat no-caps
        icon="las la-graduation-cap"
      >

        <q-menu
          fit
          transition-show="jump-down"
          transition-hide="jump-up"
        >
          <q-list style="min-width: 100px; max-width: 100%" separator>
            <q-item
              clickable
              class="items-center"
              :to="{ name: 'about' }"
            >
              О нас
            </q-item>
            <q-item
              clickable
              class="items-center"
              :to="{ name: 'mission' }"
            >
              Наша миссия
            </q-item>
          </q-list>
        </q-menu>

      </q-btn>

      <q-btn
        :to="{ name: 'contacts' }"
        label="Контакты"
        class="text-subtitle1 text-bold q-ml-md"
        dense flat no-caps
        icon="las la-map-marked-alt"
      />

    </nav>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'top-nav-menu',
  computed: {
    ...mapState('mainStore', ['universities', 'services'])
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
