*
  padding: 0
  margin: 0
  box-sizing: border-box


body
  font-family: 'Open Sans', sans-serif


p
  margin-bottom: 0 !important

.q-carousel__slide, .q-carousel .q-carousel--padding
  padding: 0 !important

.q-carousel__prev-arrow--horizontal, .q-carousel__next-arrow--horizontal
  z-index: 11

.slide-image-text
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  flex-direction: column

h1, h2, h3, h4, h5, h6, p
  line-height: 1.5 !important

.container
  width: 1024px
  max-width: 95%
  margin: auto

.section
  margin-top: 50px

.home-slide-title
  font-size: 44px
  font-weight: 600
  line-height: 1.2 !important

.shadow-my
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,.1)

.page-description
  padding: 30px 10px
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,.1)
  border-radius: 10px
  text-align: center


@media screen and (max-width: 800px)
  .home-slide-title
    font-size: 24px
