<template>
<div class="consultation q-pl-md">
  <q-btn
    color="primary"
    label="Консультация"
    class="q-pa-sm"
    no-caps
    @click="createDialog = true"
  />

  <q-dialog v-model="createDialog">
    <q-card style="width: 700px; max-width: 100%">
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>Консультация</q-toolbar-title>
        <q-btn icon="close" flat dense v-close-popup/>
      </q-toolbar>

      <q-card-section class="q-mt-md q-px-lg">
        <q-input v-model="orderForm.name" label="Ваше имя (обязательно)" outlined />
        <q-input v-model="orderForm.email" label="Ваше email (обязательно)" outlined class="q-mt-md"/>
        <q-input v-model="orderForm.phone" label="Ваше номер телефона (обязательно)" outlined type="phone" class="q-mt-md"/>
        <q-input v-model="orderForm.message" label="Сообщение" outlined type="textarea" class="q-mt-md"/>

        <p class="text-negative q-mt-sm" v-if="!orderButtonDisabled">Заполните все обязательные поля*</p>
      </q-card-section>

      <q-card-section class="q-px-lg">
        <q-btn
          label="Получить консультацию"
          class="q-py-sm full-width"
          color="primary"
          :disable="!orderButtonDisabled"
          @click="createOrder"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
import server from 'src/config'

export default {
  name: 'consultation',

  computed: {
    orderButtonDisabled () {
      return this.orderForm.name && this.orderForm.email && this.orderForm.phone
    }
  },
  data () {
    return {
      createDialog: false,
      orderForm: {
        name: '',
        email: '',
        phone: '',
        message: ''
      }
    }
  },
  methods: {
    async createOrder () {
      const order = this.orderForm
      const vm = this

      try {
        await this.$axios.post(`${server.serverURI}/main/create_consultation/`, {
          ...order
        }).then(res => {
          vm.$q.notify({
            message: 'Спасибо! Ваша заявка принята, мы свяжемся с Вами в ближайшее время.',
            position: 'top',
            color: 'positive'
          })
          vm.createDialog = false
        })
      } catch (e) {
        vm.$q.notify({
          message: e.message,
          position: 'top'
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
