<template>
<div class="page-header">
  <q-img
    :src="image" class="page-header-image flex flex-center"
  >
    <div class="slide-image-text">
      <h1 class="home-slide-title">{{ title }}</h1>
    </div>
  </q-img>
</div>
</template>

<script>
export default {
  name: 'page-header',
  props: {
    image: String,
    title: String
  }
}
</script>

<style lang="sass">
.page-header-image
  height: 60vh

@media screen and (max-width: 700px)
  .page-header-image
    height: 40vh
</style>
