<template>
  <div class="video-item">
    <q-item
      clickable dark
      class="rounded-borders bg-primary shadow-my items-center text-bold q-mt-md"
      @click="dialog = true"
    >
      <q-icon name="lab la-youtube" size="32px" class="q-pr-md" /> {{ video.title }}
    </q-item>

    <q-dialog v-model="dialog">
      <q-card style="width: 700px; max-width: 100%">
        <q-toolbar class="bg-primary text-white">
          <q-toolbar-title>{{ video.title }}</q-toolbar-title>
          <q-btn icon="close" v-close-popup dense flat/>
        </q-toolbar>

        <q-card-section class="q-pa-none">
          <q-video
            :src="`https://www.youtube.com/embed/${videLinkNumber}`"
            :ratio="4/3"
          />
        </q-card-section>
        <q-card-section class="text-right">
          <q-btn
            label="Закрыть"
            icon="close"
            color="dark"
            v-close-popup
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>

</template>

<script>
export default {
  name: 'video-item',
  props: {
    video: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  computed: {
    videLinkNumber () {
      return this.video.link.split('=')[1].split('&')[0]
    }
  }
}
</script>

<style scoped>

</style>
